<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input class="form-control" placeholder="Search" type="text">
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>
<main>
    <h1>Clients-list will be here</h1>
</main>
<footer class="text-center">
    Designed by Maryna Yelakova
</footer>