<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input class="form-control" placeholder="Search"  [(ngModel)]="search"/>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="row">
        <div class="col-sm-4">
            <div *ngIf="clients">
                <ul class="list-group clients-list">
                    <li class="list-group-item"
                        *ngFor="let client of (clients | searchPipe:'client':search)"
                        (click)="selectClient(client)"
                        [class.active]="client === activeClient">
                        <img src="{{ client.general.avatar }}" alt="" class="mini-avatar">
                        {{ client.general.firstName }} {{ client.general.lastName }}
                        <small>{{client.job.title }}</small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8">
            <client-profile [client]="activeClient"></client-profile>
            <div class="jumbotron" *ngIf="!activeClient">
                <span class="glyphicon glyphicon-hand-left"></span>
                <h2>Choose a Client</h2>
            </div>
        </div>
    </div>
</main>
<footer class="text-center">
    Designed by Maryna Yelakova
</footer>